@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

.App {
  text-align: center;
}
*{
  font-family: 'Sarabun', sans-serif;
  color: rgb(201, 201, 201);
  letter-spacing: 0.5px;
}

body {
  background-image: url('https://2.bp.blogspot.com/-mNmwKeTuZZg/XR76sYkpbpI/AAAAAAAAELA/5DTQjesqBqMdMIlYwe1uOYTmdLUoBRpvACKgBGAs/w0/spaceship-minimalist-sci-fi-digital-art-uhdpaper.com-4K-138.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 200%;
  background-position: 100% 20%;
}
.App{
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}


div {
  box-sizing: border-box;
}